.column-name.column-primary {
	width: 15%!IMPORTANT;
}

.column-product_tag {
	width: 5% !IMPORTANT;
}

.column-mv_stock {
	width: 12%;
	color: red;
}

.qty-on-hand {
	color: LightGrey;
}

.qty-non-shipped {
	color: Red;
}

.qty-non-allocated {
	color: DarkRed;
}

.qty-non-received {
	color: Green;
}


.qty-row {
	width: 100%;
}

.qty-row  td {
	padding: 0px;
}
