.column-name.column-primary {
	width: 15%!IMPORTANT;
}

.column-product_tag {
	width: 5% !IMPORTANT;
}

.column-mv_stock {
	width: 15%;
	color: red;
}

.qty-on-hand {
	color: LightGrey;
}

.qty-non-shipped {
	color: Red;
}

.qty-non-allocated {
	color: DarkRed;
}

.qty-non-received {
	color: Green;
}

.qty-row {
	width: 100%;
	text-align: center;
}

.qty-row td:first-child {
	text-align: left;
}

.qty-row  td {
	padding: 0px;
}

/* Tooltip container */
.mv-tooltip {
}

/* Tooltip text */
.mv-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mv-tooltip:hover .tooltiptext {
    visibility: visible;
}


/* ADMIN PANEL */

.mv-row {
	width: 100%;
}

.mv-row .mv-col {
	width: 50%;
}
