.column-name.column-primary {
	width: 15%!IMPORTANT;
}

.column-product_tag {
	width: 5% !IMPORTANT;
}

.column-mv_stock {
	width: 15%;
	color: red;
}

.qty-on-hand {
	color: LightGrey;
}

.qty-non-shipped {
	color: Red;
}

.qty-non-allocated {
	color: DarkRed;
}

.qty-non-received {
	color: Green;
}

.qty-row {
	width: 100%;
	text-align: center;
}

.qty-row td:first-child {
	text-align: left;
}

.qty-row  td {
	padding: 0px;
}

/* Tooltip container */
.mv-tooltip {
}

/* Tooltip text */
.mv-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mv-tooltip:hover .tooltiptext {
    visibility: visible;
}


/* ADMIN PANEL */

.mv-row {
	width: 100%;
	display: block;
	float: none;
	overflow: auto;
	text-align: center;
}

.mv-row .mv-col {
	width: 33%;
	float: left;
}

.mv-row h3 {
	text-align: center;
	margin-bottom: 5px;
}

.mv-status ul {
	width: 100%;
	min-width: 200px;
	display: table; 
}

.mv-status ul li {
	display: inline-table;
	width: 40%;
	margin: 0 5%;
}

.mv-status ul li.mv-li-left {
	text-align: right;
}

.mv-form form .mv-form-body {
	display: table;
	width: 100%;
	text-align: center;
}

.mv-form .mv-form-body p {
	display: table-row;
}

.mv-form .mv-form-body label, .mv-form .mv-form-body input {
	display: table-cell;
}

.mv-form .mv-form-bottom {
	display: block;
	text-align: center;
}

div.mv-row.row-main {
	max-width: 1000px;
	padding: 5px 60px 0px 60px;
}

.wrap-init {
	text-align: center;
}

.wrap-init input {
	width: 90%;
}

.mv-admin {
	text-align: center;
	min-width: 800px;
}

.mv-admin h1 {
	margin-right: 5%;
}


/* ERROR LOG */
#error-log {
	text-align: left;
}

#error-log #id {
	width: 5%;
}

#error-log #code {
	width: 6%;
}

#error-log #type {
	width: 7%;
}

#error-log #full-msg {
	width: 25%;
}

#error-log #problem {
	width: 20%;
}

